# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.KubernetesLoadBalancing.iml
# Datasource local storage ignored files
/../../../../../../:\projects\KubernetesLoadBalancing\.idea\.idea.KubernetesLoadBalancing.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
