# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Customers.Web.iml
/modules.xml
/projectSettingsUpdater.xml
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
